project:
  type: website

website:
  description: "Alex Strong's Blog"
  site-url: https://alexstrong.design
  title: "Alex Strong"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
      - icon: twitter
        href: https://twitter.com
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css

# website spec file

